@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #2C2E43;
}

.btn--post {
  width: 8rem;
  padding: 1rem;
  margin-top: 1rem;
  border: 2px solid #FFD523;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFD523;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

main {
  flex: 1;
}

main a:hover {
  text-decoration: none;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post a {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
}
.post__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-align: justify;
  padding: 1.5rem;
}
.post__info h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

header {
  width: 100%;
}
header nav {
  width: 100%;
}
header nav .logo:hover {
  text-decoration: none;
}
header nav h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  color: #2C2E43;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
}
header nav ul a {
  color: #2C2E43;
}
header nav ul a:hover {
  color: #FFD523;
}

.container {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  padding-top: 5rem;
}
.container .post-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: auto;
  max-width: 800px;
  margin: 0 auto;
  height: 35rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}
.container .post-bg span:first-child {
  width: 11rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.3rem;
  background-color: #FFD523;
  font-size: 1.5rem;
  color: whitesmoke;
}
.container .post-bg h2 {
  font-size: 2.5rem;
  color: whitesmoke;
  text-shadow: 2px 2px 2px #000000;
}
.container .post-bg p {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
}
.container .post-bg .statistics {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  max-width: 380px;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: whitesmoke;
}
.container .post-bg .statistics figure {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 2rem;
}
.container .post-bg .statistics figure img {
  margin-right: 0.5rem;
}
.container .post-bg:first-child {
  background-image: url("../assets/main-post.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .post-bg:nth-of-type(2) {
  background-image: url("../assets/post1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .post-bg:nth-of-type(3) {
  background-image: url("../assets/post2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .post-bg:nth-of-type(4) {
  background-image: url("../assets/post3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .post-bg:nth-of-type(5) {
  background-image: url("../assets/post4.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .post-bg:nth-of-type(6) {
  background-image: url("../assets/post6.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .post-bg:hover {
  cursor: pointer;
}
.container .noBg-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: auto;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  padding: 2rem 2rem 5rem 2rem;
  background-color: #2C2E43;
  text-align: left;
}
.container .noBg-post h2 {
  font-size: 2.5em;
  color: whitesmoke;
}
.container .noBg-post p {
  font-size: 2rem;
  color: whitesmoke;
}
.container .outstanding-news {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container .outstanding-news .news-feed {
  margin: 2rem 0 2rem 0;
}
.container .outstanding-news .news-feed span {
  display: flex;
  padding: 2rem 0 2rem 0;
  font-size: 1.5rem;
  border-top: 1px solid grey;
}
.container .outstanding-news .news-feed span p {
  margin-left: 1rem;
}
.container .outstanding-news .news-feed span:hover {
  cursor: pointer;
}

.mobile-containers {
  width: 100%;
  min-width: 320px;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
}

.main-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-top: 5rem;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
}
.main-post figure {
  grid-column: 1/3;
  position: relative;
}
.main-post__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 3;
  padding: 1.5rem;
}
.main-post__container h2 {
  font-size: 3rem;
  text-align: center;
}
.main-post__container p {
  font-size: 2rem;
  text-align: justify;
}

.posts__container {
  display: grid;
  grid-template-rows: repeat(6, auto);
  gap: 2rem;
  row-gap: 5rem;
  padding: 5rem 2rem 5rem 2rem;
}

.article__container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.article {
  display: grid;
  grid-template-rows: 300px 1fr;
}
.article figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1rem solid white;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
}
.article figure h2 {
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
.article__info {
  width: 100%;
  min-width: 280px;
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
}
.article__info h3 {
  font-size: 2rem;
  line-height: 3rem;
}
.article__info p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.article__info span {
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  color: #FFD523;
  font-weight: 600;
}

.articles {
  display: grid;
  grid-template-rows: 15rem 1fr;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.articles__title {
  font-size: 3rem;
  text-align: center;
  color: #2C2E43;
}

.articles__container article {
  margin-bottom: 2rem;
}

.contact-profile {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  min-width: 320px;
  max-width: 1800px;
  margin: 0 auto;
}
.contact-profile .profile {
  padding: 5rem 1rem 5rem 1rem;
  background-color: #595260;
}
.contact-profile .profile__photo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
}
.contact-profile .profile__photo figure {
  width: 20rem;
  height: 20rem;
}
.contact-profile .profile__photo figure img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.contact-profile .profile__photo .photo__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: whitesmoke;
}
.contact-profile .profile__photo .photo__info .info--name {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
}
.contact-profile .profile__photo .photo__info span {
  font-weight: 400;
}
.contact-profile .profile__photo .photo__info a {
  margin-top: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 5rem;
  border: 1px solid whitesmoke;
  font-weight: 700;
  color: whitesmoke;
}
.contact-profile .profile__info {
  display: grid;
  grid-template-rows: 10rem auto auto;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  row-gap: 3rem;
}
.contact-profile .profile__info .info__row1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5rem;
  background-color: whitesmoke;
  -webkit-box-shadow: 4px 8px 19px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 4px 8px 19px 1px rgba(0, 0, 0, 0.47);
}
.contact-profile .profile__info .info__row1 ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
.contact-profile .profile__info .info__row1 ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}
.contact-profile .profile__info .info__row1 ul li span:first-child {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.contact-profile .profile__info .info__row2 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.contact-profile .profile__info .info__row2 h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: whitesmoke;
}
.contact-profile .profile__info .info__row2 p {
  font-size: 1.2rem;
  text-align: center;
  color: whitesmoke;
}
.contact-profile .profile__info .info__row2 span {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  color: whitesmoke;
}
.contact-profile .profile__info .info__row2 .row2__location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-radius: 5rem;
  background-color: whitesmoke;
  -webkit-box-shadow: 4px 8px 19px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 4px 8px 19px 1px rgba(0, 0, 0, 0.47);
}
.contact-profile .profile__info .info__row2 .row2__location figure {
  width: 3rem;
  height: 3rem;
  padding: 0.2rem;
}
.contact-profile .profile__info .info__row2 .row2__location h3 {
  margin: 0;
  margin-left: 0.5rem;
  color: black;
}
.contact-profile .profile__info .info__row3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 5rem;
  background-color: whitesmoke;
  -webkit-box-shadow: 4px 8px 19px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 4px 8px 19px 1px rgba(0, 0, 0, 0.47);
}
.contact-profile .profile__info .info__row3 .row3__photos {
  display: flex;
  flex-direction: column;
}
.contact-profile .profile__info .info__row3 .row3__photos h3 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.contact-profile .profile__info .info__row3 .row3__photos .photos__container {
  display: grid;
  grid-template-rows: repeat(4, 150px);
  gap: 0.5rem;
}
.contact-profile .profile__info .info__row3 .row3__photos .photos__container figure img {
  border-radius: 2rem;
}
.contact-profile .feed {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 3rem;
}
.contact-profile .feed .feed__row:first-child {
  margin-top: 3rem;
}
.contact-profile .feed .feed__row:last-child {
  margin-bottom: 3rem;
}
.contact-profile .feed .feed__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #2C2E43;
}
.contact-profile .feed .feed__row span {
  font-size: 1.3rem;
  font-weight: 400;
  color: grey;
  text-transform: uppercase;
  line-height: 2rem;
}
.contact-profile .feed .feed__row h3 {
  text-transform: uppercase;
  font-size: 2rem;
}
.contact-profile .feed .feed__row p {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.search {
  display: flex;
  flex-direction: column;
}
.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
.search__container input {
  width: 90%;
  height: 3rem;
  padding: 2rem;
  font-size: 1.8rem;
  color: #B2B1B9;
  background-color: #595260;
  border-radius: 2rem;
  border: none;
}
.search input::placeholder {
  color: #B2B1B9;
}
.search input:focus {
  outline: none;
  background-color: #2C2E43;
}
.search .search__results .results__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: auto;
  max-width: 110rem;
  margin: 0 auto;
  text-transform: uppercase;
}
.search .search__results .results__title h3 {
  font-size: 2.3rem;
  text-align: center;
  color: #2C2E43;
}
.search .search__results .results__title .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 0 1rem 0;
}
.search .search__results .results__title .filters span {
  margin-right: 2rem;
}
.search .search__results .results__title .filters figure {
  display: flex;
  align-items: center;
  width: 2rem;
  margin-right: 1rem;
}
.search .search__results .results__title .filters figure:hover {
  cursor: pointer;
}
.search .search__results .results__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.search .search__results .results__container .post a {
  display: grid;
  grid-template-rows: repeat(2, 20rem);
}
.search .search__results .results__container .post figure {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.search .search__results .results__container .post figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.search .search__results .post--noImg {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.66);
}
.search .search__results .post--noImg .noImg-info {
  padding: 1.5rem;
}
.search .search__results .post--noImg .noImg-info h3 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}
.search .search__results .post--noImg .noImg-info p {
  font-size: 2rem;
  text-align: justify;
}
.search .search__results .post--noImg .statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0 2rem 0;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}
.search .search__results .post--noImg .statistics figure {
  width: 2rem;
  height: 2rem;
}

footer {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  align-items: center;
  width: 100%;
  background-color: #FFD523;
  padding: 1rem 0 0.5rem 0;
  flex-shrink: 0;
}

footer h4 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

footer h4 a {
  font-weight: 600;
}

footer .contact ul {
  display: flex;
  justify-content: space-evenly;
}

footer figure {
  width: 30px;
}
footer figure img {
  height: auto;
}

/*# sourceMappingURL=main.css.map */
