header
    nav
        a(href="index.html").logo 
            h1 The Morrowind Fan Page
        ul
            li
                a(href="index.html")=navigation[0]
            li
                a(href="landing.html")=navigation[1]
            li
                a(href="contact.html")=navigation[2]
            li
                a(href="search.html")=navigation[3]