section.main-post__container.mobile-containers
    a(href="articles.html") 
        article.main-post
            figure
                img(src="assets/main-post.jpeg", alt="")
            div.main-post__info
                h2=subtitles[0]
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nulla similique eius reprehenderit quo delectus magnam eligendi labore, neque quibusdam nostrum, cupiditate saepe, rem ullam velit tempora? Quod, perferendis possimus.
section.posts__container.mobile-containers
    +post(subtitles[1],img[0]) 
    +post(subtitles[2],img[1]) 
    +post(subtitles[3],img[2]) 
    +post(subtitles[4],img[3]) 
    +post(subtitles[5],img[4]) 
    +post(subtitles[6],img[5])
    