extend components/template.pug
block content
    section.contact-profile.mobile-containers
        .profile
            .profile__photo
                figure
                    img(src="assets/profile.jpg", alt="")
                .photo__info
                    h3.info--name St. Jiub
                    span Full time saint
                    a(href="") Seguir
            .profile__info
                .info__row1
                    ul
                        li
                            span 12k
                            span seguidores
                        li
                            span 1.5k
                            span seguidos
                        li
                            span 40k
                            span articulos
                .info__row2
                    h3 Acerca de mi
                    p El único e inconfundible
                    span *cliff racer sounds*
                    .row2__location
                        figure
                            img(src="assets/location.svg", alt="")
                        h3 Seyda Neen
                .info__row3   
                    .row3__photos
                        h3 Mis fotos
                        .photos__container
                            figure
                                img(src="assets/post1.webp", alt="")
                            figure
                                img(src="assets/post4.webp", alt="")
                            figure
                                img(src="assets/post3.webp", alt="")
                            figure
                                img(src="assets/post2.webp", alt="")
        .feed
            .feed__row
                span Leveleo
                h3=subtitles[0]
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia culpa obcaecati consequuntur ut facere rem unde laboriosam veritatis ea illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sit cumque facilis quas, qui molestiae officia expedita quis dolores exercitationem, aliquid nulla dolore molestias rerum ducimus necessitatibus quod provident nemo?                   
            .feed__row
                span Guías
                h3=subtitles[4]
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia culpa obcaecati consequuntur ut facere rem unde laboriosam veritatis ea illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sit cumque facilis quas, qui molestiae officia expedita quis dolores exercitationem, aliquid nulla dolore molestias rerum ducimus necessitatibus quod provident nemo?                   
            .feed__row
                span Guías
                h3=subtitles[2]
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia culpa obcaecati consequuntur ut facere rem unde laboriosam veritatis ea illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sit cumque facilis quas, qui molestiae officia expedita quis dolores exercitationem, aliquid nulla dolore molestias rerum ducimus necessitatibus quod provident nemo?          

                    
                    
